* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 40%;
    border: solid 15px #EE6983;
    border-radius: 30px;
    background-color: #FFCDC9;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    height: 90px;
    width: 90px;
}

.hello-kitty {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: solid 7px #EE6983;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px auto 0 auto;
    transition: box-shadow 1s ease-in-out;
}

.circle {
    color: #733349;
    text-align: center;
    height: 160px;
    width: 210px;
    border: solid 6px #EE6983;
    border-radius: 50%;
    position: relative;
    margin-left: 18px;
    transition: box-shadow 1s ease-in-out;
}

.about {
    font-family: "Fuzzy Bubbles", sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
}

.bow {
    position: absolute;
    left: 165px;
}

.intro {
    padding-right: 5px;
}

.rec {
    height: 150px;
    width: 240px;
    border: solid 6px #EE6983;
    border-radius: 25%;
    position: relative;
    margin-left: 210px;
    color: #733349;
    margin-bottom: 20px;
    transition: box-shadow 1s ease-in-out;
}

ul {
    list-style-type: none;
    padding-left: 30px;  
}

.fave-things {
  font-family: "Fuzzy Bubbles", sans-serif;
  padding-top: 13px;
  padding-left: 10px;
}

.balloons img {
    width: 120px;
    height: 190px;
}

.balloons {
    position: absolute;
    left: 145px;
    bottom: 60px;
}

.circle:hover {
    box-shadow: 0 0 20px 3px #e01268;
}

.rec:hover {
    box-shadow: 0 0 20px 3px #e01268;
}

.hello-kitty:hover {
    box-shadow: 0 0 20px 3px #e01268;
}